page-home {

    .description-text{
        font-size: 14px;
        color: #6092d9;
        text-align: center;
    }

    .policy-text{
        font-size: 10px;
        color: #6092d9;
        text-align: center;
    }

    ion-icon {
        font-size: 60px; //Preferred size here
        color: #6092d9;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}
